@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F4F6;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.inset-x {
  box-shadow: -30px 2px 26px 0px rgba(0,0,0,0.05);
  -webkit-box-shadow: -30px 2px 26px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: -30px 2px 26px 0px rgba(0,0,0,0.05);
}
